@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #222;
    background-color: rgba(240, 232, 228, 0.704);
}

.logo {
    width: 30%;
    height: 30%;
}

.navbar {
    padding: 16px;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
}

.page-header {
    position: relative;
    width: 65%;
    padding: 35px;
    background: rgba(255, 170, 170, 0.462);
    border-radius: 25px;
}

.page-header h1 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(132, 132, 132, 0.704);
}

.padding {
    padding-bottom: 2rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 15px 0 20px 0;
}

.accordion-alighn {
    margin: 40px 20px 20px 40px;
    border-radius: 25px;
}

.accordion-alighn h3 {
    background-color: rgba(255, 130, 130, 0.697);
    border-radius: 25px;
    border: 1px solid #222;
}

.ui-accordion-content {
    background-color: rgba(251, 209, 188, 0.704);
    border-radius: 15px;
}